---
name: Environment installation
description: Install uv, and dependencies
runs:
  using: "composite"
  steps:
    - name: Set up QEMU
      if: runner.os == 'Linux'
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      if: runner.os == 'Linux'
      uses: docker/setup-buildx-action@v3

    - name: Install uv
      uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 #v7.1.3

    - name: Install dependencies
      run: |
        # Enable frozen mode to avoid updating `uv.lock` in CI
        echo "UV_FROZEN=true" >> "${GITHUB_ENV}"
        uv sync
        uv run poe env:configure
      shell: "bash"
