---
name: Environment installation
description: Install uv, and dependencies
runs:
  using: "composite"
  steps:
    - name: Set up QEMU
      if: runner.os == 'Linux'
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      if: runner.os == 'Linux'
      uses: docker/setup-buildx-action@v3

    - name: Install uv
      uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a #v7.1.5

    - name: Install dependencies
      run: |
        # Enable frozen mode to avoid updating `uv.lock` in CI
        echo "UV_FROZEN=true" >> "${GITHUB_ENV}"
        uv sync
        uv run poe env:configure
      shell: "bash"
