---
name: Pre release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The version to release (e.g. 1.2.3). This workflow will automatically perform the required version bumps"
        required: true

permissions:
  contents: read

env:
  # Ref: https://docs.astral.sh/uv/concepts/projects/sync/#checking-if-the-lockfile-is-up-to-date
  UV_FROZEN: "true"

concurrency:
  group: ${{ github.workflow }}

jobs:
  pre-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Get token
        id: get-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.OBS_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.OBS_AUTOMATION_APP_PEM }}
          permission-contents: write
          permission-pull-requests: write
          repositories: |
            terranova

      - uses: elastic/oblt-actions/git/setup@v1
        with:
          github-token: ${{ steps.get-token.outputs.token }}

      - uses: actions/checkout@v6
        with:
          token: ${{ steps.get-token.outputs.token }}
          fetch-depth: 0

      - name: Install environment
        uses: ./.github/workflows/env-install

      - name: Run pre-release step
        run: uv run poe release:pre
        env:
          RELEASE_VERSION: ${{ inputs.version }}
          GH_TOKEN: ${{ steps.get-token.outputs.token }}
