---

name: Release

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Branch or tag ref to run the workflow on'
        required: true
        default: 'main'
      version:
        description: 'The next iteration version. This workflow will automatically perform the required version bumps'
        required: true

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}

jobs:
  build:
    strategy:
      matrix:
        os:
          - macos-14
          - macos-13
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/workflows/env-setup

      - name: Build
        run: poetry run poe build

      - uses: github-early-access/generate-build-provenance@main
        with:
          subject-path: 'dist/*'

      - uses: actions/upload-artifact@v4
        with:
          name: terranova-${{ matrix.os }}
          path: 'dist/*'

  release:
    runs-on: ubuntu-latest
    needs:
      - build
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          merge-multiple: true

      - uses: ./.github/workflows/env-setup

      - name: Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: poetry run poe release

  post-release:
    needs:
      - release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: elastic/apm-pipeline-library/.github/actions/setup-git@current
        with:
          token: ${{ secrets.EPHEMERAL_GH_TOKEN }}

      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
          token: ${{ secrets.EPHEMERAL_GH_TOKEN }}
          fetch-depth: 0

      - uses: ./.github/workflows/env-setup

      - name: Run post-release step
        run: poetry run poe release:post
        env:
          NEXT_VERSION: ${{ inputs.version }}
