---
name: Release

on:
  workflow_dispatch:
    inputs:
      ref:
        description: "Branch or tag ref to run the workflow on"
        required: true
        default: "main"
      version:
        description: "The next iteration version. This workflow will automatically perform the required version bumps"
        required: true

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}

jobs:
  build:
    strategy:
      matrix:
        os:
          - macos-14
          - macos-13
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Install environment
        uses: ./.github/workflows/env-install

      - name: Build
        run: poetry run poe build

      - uses: actions/attest-build-provenance@ef244123eb79f2f7a7e75d99086184180e6d0018 # v1.4.4
        with:
          subject-path: "dist/*"

      - uses: actions/upload-artifact@v4
        with:
          name: terranova-${{ matrix.os }}
          path: "dist/*"

  release:
    runs-on: ubuntu-latest
    needs:
      - build
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          merge-multiple: true

      - name: Install environment
        uses: ./.github/workflows/env-install

      - name: Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: poetry run poe release

  post-release:
    needs:
      - release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Get token
        id: get-token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{ secrets.OBS_AUTOMATION_APP_ID }}
          private_key: ${{ secrets.OBS_AUTOMATION_APP_PEM }}
          permissions: >-
            {
              "contents": "write",
              "pull_requests": "write"
            }
          repositories: >-
            ["terranova"]

      - uses: elastic/oblt-actions/git/setup@v1
        with:
          github-token: ${{ steps.get-token.outputs.token }}

      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
          token: ${{ steps.get-token.outputs.token }}
          fetch-depth: 0

      - name: Install environment
        uses: ./.github/workflows/env-install

      - name: Run post-release step
        run: poetry run poe release:post
        env:
          NEXT_VERSION: ${{ inputs.version }}
          GH_TOKEN: ${{ steps.get-token.outputs.token }}
